<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav class="sidebar">
  <div class="logo"> Course Advisory system </div>
  <ul class="nav-links">
    <li><a href="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
    {% if current_user.is_authenticated %}
    <li><a href="/profile"><i class="fas fa-user"></i> Profile</a></li>
    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    <li><a href="/users"><i class="fas fa-users"></i> Users</a></li>
    <li><a href="/settings"><i class="fas fa-cog"></i> Settings</a></li>
    {% endif %}
  </ul>
</nav>
    <main class="main">
  {% block content %}<p>Welcome, {{ username }}!</p>{% endblock %}
    </main>
  </body>
</html>


